.view{
    display: flex;
    width: 100%;

    .viewContainer{
        flex: 6;
        padding: 30px;
        

        .teamLogo{
            width: 200px;
            height: 200px;
            margin-left: 350px;
            margin-top: 10px;
            
        }

        
    }
}


