.view{
    display: flex;
    width: 100%;

    .viewContainer{
        flex: 6;
        
        
        .viewImg{
            margin-left: 40%;
        }

/* bounce.css */
.logoEmployeeGrp {
    animation: bounce 1s infinite alternate;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }

        .teamLogo{
            width: 200px;
            height: 200px;
            margin-left: 350px;
            margin-top: 10px;
            
        }

        .tHead{
            background-color:#7551f86b;
        }

        
    }
}


