.view{
    display: flex;
    width: 100%;

   

    .viewContainer{
        flex: 4;
        margin-left: 250px;
        
        
        .viewImg{
            margin-left: 40%;
        }


        .view {
          display: flex;
        }
        
      
        
        .viewContainer {
          margin-left: 200px; /* Set the width of the Sidebar */
          flex-grow: 1;
          overflow-y: auto; /* Enable vertical scrolling for the container */
        }

        .sticky {
          position: fixed;
        }
        
        /* Add your existing styles for other elements in viewContainer here */
        
/* bounce.css */
.logoEmployeeGrp {
    animation: bounce 1s infinite alternate;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }

        .teamLogo{
            width: 200px;
            height: 200px;
            margin-left: 350px;
            margin-top: 10px;
            
        }

        .tHead{
            background-color:black;
            color: white;
        }
.tableView{
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 70px;
}
        
    }
}


