// .table_head{
//     background-color: black;
// }

.search-leave{
margin-bottom:50px ;
}

.pdfButton {
    background-color: #ff0000; /* Green background color */
    color: white; /* White text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add some padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px; /* Add some border-radius for a rounded look */
    margin-left: 20px;
    transition: background-color 0.3s ease-out, transform 0.5s ease-out;
  }
  
  .pdfButton:hover {
    background-color: rgba(53, 15, 245, 0.985); /* Darker green on hover */
  }