.video{
    display: flex;
    width: 100%;

    .videoContainer{
        flex: 6;

        .uploader{

            text-align: center;
            
            .header{
                color: #7451f8;
                
                align-items: center;
                text-align: center;
                font-size: 40px;
                font-weight: 900;
                
            }

            .video-pic{
                width: 500px;
                height: 250px;
            }
    
            button{
                border: none;
                background-color:#7451f8  ;
                color: white;
                padding: 10px;
                border-radius: 10px;
                transition: background-color 0.5s ease;

                &:hover {
                    background-color: #210b54; /* Change the background color on hover */
                  }
            }

            .uploadContainer{
                margin-top: 20px;
            }

            // input{
            //     background-color: #7451f8;
            //     color: white;

            // }
        }



       
    }
}
